<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/new.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="<%= action %>" method="POST">
            <p>Título:<input type="text" name="titulo" value="<%= doc.titulo %>" /></p>
            <p>Sinopse:<input type="text" name="sinopse" value="<%= doc.sinopse %>" /></p>
            <p>Duração:<input type="text" name="duracao" value="<%= doc.duracao %>" /></p>
            <p>Data Lancamento:<input type="text" name="dataLancamento" value="<%= doc.dataLancamento %>"/></p>
            <p>Imagem:<input type="text" name="imagem" value="<%= doc.imagem %>" /></p>
            <p>Categorias:<input type="text" name="categorias" value="<%= doc.categorias %>" /></p>
            <div>

                <input type="submit" value="Salvar" id="salvar"/>
            </div>
        </form>
    </body>
</html>
